.authNavCont {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.authNavLink {
  color: Gray;
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
}

.authNavLink:hover,
.authNavLink:focus,
.actAuthNavLink {
  color: LightSkyBlue;
}
